html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Fira Sans', sans-serif;
    background-color: #c4a6b7;
    line-height: 1.5;
}

/* *** Utitlity *** */
.container {
}

.image-container {
    width: 10%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.deck-container {
    width: 75%;
}


.card-container {
    width: calc(75% / 3 - 1rem);
}

/* Typographic Scales */
h1 {
    font-size: 4.8rem;
}

/* *** Content *** */
header, section, footer {
    width: 75%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

header nav {
}

nav a {
    font-size: 2.5rem;
}

nav a:visited, 
nav a:link {
    color: #000;
    text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #000;
    text-decoration: underline;
}

/* *** Footer *** */




/* *** Media Queries *** */
@media screen and (max-width: 700px) {
    /* make header stack */
    header {
        flex-direction: column;
        align-items: center;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1280px) {
    header {
        max-width: 1280px;
        margin: 2rem auto;
    }
}

/* *** TypeScript Style Use *** */
.active {
    width: 20%;
}