/* body & container */

body {
    font-size: 100%;
    font-family: 'Fira Sans', sans-serif;
    background: #c4a6b7
}

.container {
    width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

/* typography */

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 16px;
}

.blog-posts img {
    height: 128px;
    width: 128px;
}

.blog-posts p {
    width: 40%;
}

/* links */
a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: maroon;
}

a:hover {
    color: palevioletred;
    margin-right: 2px;
}

