extends layout

block content
  .container
  header
    .flex-container
      nav
        ul.nav-list
          li
            a(href='life-story.html') My Life Story
          li
            a(href='projects.html') Projects!
  main
    .flex-container
      .about-header
        h2 About Me
      .resume-header
        h2 lol
