
.container {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.nav-list {
    list-style-type: disc;
    background-color: beige;
    padding: 16px;
    width: 960px;
}

.about-header, .resume-header {
    padding: 12px;
    width: 438px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.about-header {
    background-color: #bc83ca;
    margin-right: 36px;
}

.resume-header {
    background-color: #ab9a9a;
}